<section class="hero" id="heroSection">
    
    <div class="container hero__container">

        <!-- Left Side -->

        <div class="hero__content">

            <p class="hero__greeting"></p>

            <h1 class="hero__name"></h1>

            <h2 class="hero__title">

                <span id="typingText"></span>

            </h2>

            <p class="hero__description"></p>

            <div class="hero__buttons">

                <a href="#projects" class="btn">

                    View Projects

                </a>

                <a class="btn hero__resume">

                    Download Resume

                </a>

            </div>

            <div class="hero__social">

                <a class="hero__social-link hero__github">

                    <i class="fa-brands fa-github"></i>

                </a>

                <a class="hero__social-link hero__linkedin">

                    <i class="fa-brands fa-linkedin"></i>

                </a>

                <a class="hero__social-link hero__email">

                    <i class="fa-solid fa-envelope"></i>

                </a>

            </div>

        </div>

        <!-- Right Side -->

        <div class="hero__image">

            <div class="hero__image-card">

                <img
                    src="assets/images/profile/profile.jpg"
                    alt="Rahul G"
                    class="hero__photo">

            </div>

        </div>

</section>