.about__stats{

    display:flex;

    justify-content:space-between;

    margin:35px 0;

}

.about__stat{

    text-align:center;

}

.about__stat h3{

    font-size:2rem;

    color:var(--primary);

}

.about__stat span{

    color:var(--text-secondary);

}